In [1]:
# autoreload
%load_ext autoreload
%autoreload 2

# change current working directory to the root of the project
import os
os.chdir(os.path.dirname(os.getcwd()))

# Purpose
- Purpose of this notebook is to train a calibrated probablistic classification model using LightGBM

In [8]:
import warnings
import gc
from IPython.display import display

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

import lightgbm as lgb
import optuna

from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import KFold
from sklearn.metrics import brier_score_loss
from sklearn.calibration import CalibratedClassifierCV
from sklearn.calibration import calibration_curve, CalibrationDisplay

from src.pipeline_transformers import ColumnDropperTransformer

In [3]:
# Set Matplotlib defaults
plt.style.use("seaborn-whitegrid")
plt.rc("figure", autolayout=True, figsize=(11, 4))
plt.rc(
    "axes",
    labelweight="bold",
    labelsize="large",
    titleweight="bold",
    titlesize=16,
    titlepad=10,
)
plot_params = dict(
    color="0.75",
    style=".-",
    markeredgecolor="0.25",
    markerfacecolor="0.25",
)

/var/folders/rx/jl4f7yr95xd03cgb4sg2w99h0000gn/T/ipykernel_2129/4075833985.py:2: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use("seaborn-whitegrid")

# Load Data

In [4]:
nrows = None

X_train = pd.read_csv("data/transformed/X_train.csv", nrows=nrows)
X_val_calibration = pd.read_csv("data/transformed/X_val_calibration.csv", nrows=nrows)
X_test = pd.read_csv("data/transformed/X_test.csv", nrows=nrows)

y_train = pd.read_csv("data/transformed/y_train.csv", nrows=nrows)
y_val_calibration = pd.read_csv("data/transformed/y_val_calibration.csv", nrows=nrows)
y_test = pd.read_csv("data/transformed/y_test.csv", nrows=nrows)

print(f"X_train shape: {X_train.shape}")
display(X_train.head())
print(f"y_train shape: {y_train.shape}")
display(y_train.head())

print(f"X_val_calibration shape: {X_val_calibration.shape}")
display(X_val_calibration.head())
print(f"y_val_calibration shape: {y_val_calibration.shape}")
display(y_val_calibration.head())

print(f"X_test shape: {X_test.shape}")
display(X_test.head())
print(f"y_test shape: {y_test.shape}")
display(y_test.head())

X_train shape: (297375, 1461)

,customer_ID,B_30_count,B_30_last,B_30_first,B_30_nunique,B_38_count,B_38_last,B_38_first,B_38_nunique,D_114_count,...,D_141_sub,D_141_frac,D_142_sub,D_142_frac,D_143_sub,D_143_frac,D_144_sub,D_144_frac,D_145_sub,D_145_frac
0,ca1c9f22fd2252949ac2f5564f26769780a48c3637433b...,13,0.0,0.0,1,13,2.0,2.0,1,13,...,0.012524,1.014238,0.048853,1.302738,0.000235,1.000235,0.091412,12.990935,0.004313,1.023706
1,67b7eee3776f5884bcbf0c7bcfe613d844fd841746a9d2...,13,0.0,0.0,1,13,1.0,1.0,1,13,...,-0.002621,0.632003,NaN,NaN,-0.004055,0.520429,0.006335,4.164307,-0.004911,0.203894
2,badd7d76b370a42fcd756e03658597892782f2a5ae6891...,13,1.0,1.0,1,13,6.0,3.0,5,13,...,0.000953,1.106869,NaN,NaN,0.007564,41.863259,-0.002124,0.745708,0.002719,1.941992
3,938f90757d568a637be67271356bfe6ce6373b6912d9e4...,13,0.0,1.0,2,13,3.0,3.0,1,13,...,-0.005658,0.342687,NaN,NaN,-0.002021,0.521040,-0.008233,0.133476,0.003698,2.768127
4,66b797c6750aabfe5ed8da57889a0b8905b2d47cc98df5...,4,0.0,0.0,1,4,1.0,1.0,1,1,...,0.002203,1.509618,NaN,NaN,-0.004063,0.504192,-0.003378,0.270064,0.001852,1.272900

y_train shape: (297375, 1)

   target
0       0
1       0
2       1
3       1
4       0

X_val_calibration shape: (36713, 1461)

,customer_ID,B_30_count,B_30_last,B_30_first,B_30_nunique,B_38_count,B_38_last,B_38_first,B_38_nunique,D_114_count,...,D_141_sub,D_141_frac,D_142_sub,D_142_frac,D_143_sub,D_143_frac,D_144_sub,D_144_frac,D_145_sub,D_145_frac
0,2662c770d10b106197fa729dc6416ef88c23e5c5525ba9...,13,0.0,0.0,1,13,2.0,2.0,1,13,...,0.000104,1.012796,NaN,NaN,0.005976,2.724419,0.004832,1.955449,-0.001436,0.788652
1,b30cd33df77d39279a55f6ca641dc513cfe4c5679d02b5...,13,0.0,0.0,1,13,2.0,2.0,1,13,...,0.010573,1.010926,0.048838,1.097987,-0.003414,0.996598,0.002910,1.795558,-0.006638,0.933419
2,1f90f6b626bce52fd637dee12ce96520054170ce63a75a...,13,0.0,0.0,1,13,2.0,3.0,3,13,...,0.005003,3.074819,NaN,NaN,-0.001901,0.404110,-0.004927,0.218985,0.001979,2.421412
3,412888f2d5f1697e6e9e8bae69becf0c92c623310f5cdc...,13,0.0,0.0,1,13,1.0,3.0,4,13,...,0.007655,44.260080,NaN,NaN,0.006475,9.608882,0.004884,2.357053,-0.002959,0.584876
4,75d32564db40f5de3f5607dfde7ed2f8fb7ed52eca536b...,12,0.0,0.0,1,12,2.0,1.0,3,8,...,-0.006652,0.313799,NaN,NaN,-0.000017,0.995637,0.001604,1.335535,0.005148,3.155907

y_val_calibration shape: (36713, 1)

   target
0       0
1       0
2       0
3       0
4       0

X_test shape: (91783, 1461)

,customer_ID,B_30_count,B_30_last,B_30_first,B_30_nunique,B_38_count,B_38_last,B_38_first,B_38_nunique,D_114_count,...,D_141_sub,D_141_frac,D_142_sub,D_142_frac,D_143_sub,D_143_frac,D_144_sub,D_144_frac,D_145_sub,D_145_frac
0,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,13,0.0,0.0,1,13,5.0,1.0,3,11,...,0.001539,1.265030,NaN,NaN,-0.000028,0.995717,-0.007654,0.027910,0.001819,1.832629
1,c34b0cf3175108892e42e9382e8177847ac15636870604...,3,0.0,0.0,1,3,4.0,1.0,2,1,...,-0.002279,0.751526,NaN,NaN,-0.003474,0.475973,0.002824,1.566516,-0.007112,0.070716
2,14aff3c0e0ed2aaaef6deb127f2541b67fdd0002615bfd...,13,1.0,2.0,3,13,3.0,3.0,2,13,...,0.020072,1.022241,0.052345,1.21339,0.003577,1.003564,-0.213398,0.641255,-0.091631,0.505844
3,f82be644eb90ab65d737b6dfc5de670559fa2ca23c98ea...,13,0.0,0.0,1,13,2.0,1.0,2,13,...,-0.000378,0.919788,NaN,NaN,0.004012,2.043321,0.001460,2.007422,0.002279,1.546141
4,09dec6d53f0f12db6edcaecbb4d2bddf41f220ba9569d1...,13,0.0,0.0,1,13,1.0,2.0,2,13,...,-0.004239,0.356514,NaN,NaN,0.008933,78.804175,0.004662,30.032338,-0.003442,0.083617

y_test shape: (91783, 1)

   target
0       0
1       1
2       0
3       0
4       0

# Change dtypes

In [5]:
cat_cols = [
    "B_30",
    "B_38",
    "D_114",
    "D_116",
    "D_117",
    "D_120",
    "D_126",
    "D_63",
    "D_64",
    "D_66",
    "D_68"]

# select all columns that has cat_cols as prefix
cat_cols = [col for col in X_train.columns if col.startswith("B_30") or col.startswith("B_38") or col.startswith("D_114") or col.startswith("D_116") or col.startswith("D_117") or col.startswith("D_120") or col.startswith("D_126") or col.startswith("D_63") or col.startswith("D_64") or col.startswith("D_66") or col.startswith("D_68")]
# drop columns in cat_cols that has nunique or count in the name
cat_cols = [col for col in cat_cols if not col.endswith("nunique") and not col.endswith("count")]
# add customer_ID to cat_cols
cat_cols.append("customer_ID")

num_cols = [col for col in X_train.columns if col not in cat_cols]

print(f"cat_cols: {cat_cols}")
print(f"num_cols: {num_cols}")

cat_cols: ['B_30_last', 'B_30_first', 'B_38_last', 'B_38_first', 'D_114_last', 'D_114_first', 'D_116_last', 'D_116_first', 'D_117_last', 'D_117_first', 'D_120_last', 'D_120_first', 'D_126_last', 'D_126_first', 'D_63_last', 'D_63_first', 'D_64_last', 'D_64_first', 'D_66_last', 'D_66_first', 'D_68_last', 'D_68_first', 'customer_ID']
num_cols: ['B_30_count', 'B_30_nunique', 'B_38_count', 'B_38_nunique', 'D_114_count', 'D_114_nunique', 'D_116_count', 'D_116_nunique', 'D_117_count', 'D_117_nunique', 'D_120_count', 'D_120_nunique', 'D_126_count', 'D_126_nunique', 'D_63_count', 'D_63_nunique', 'D_64_count', 'D_64_nunique', 'D_66_count', 'D_66_nunique', 'D_68_count', 'D_68_nunique', 'P_2_last', 'P_2_first', 'P_2_mean', 'P_2_std', 'P_2_min', 'P_2_max', 'D_39_last', 'D_39_first', 'D_39_mean', 'D_39_std', 'D_39_min', 'D_39_max', 'B_1_last', 'B_1_first', 'B_1_mean', 'B_1_std', 'B_1_min', 'B_1_max', 'B_2_last', 'B_2_first', 'B_2_mean', 'B_2_std', 'B_2_min', 'B_2_max', 'R_1_last', 'R_1_first', 'R_1_mean', 'R_1_std', 'R_1_min', 'R_1_max', 'S_3_last', 'S_3_first', 'S_3_mean', 'S_3_std', 'S_3_min', 'S_3_max', 'D_41_last', 'D_41_first', 'D_41_mean', 'D_41_std', 'D_41_min', 'D_41_max', 'B_3_last', 'B_3_first', 'B_3_mean', 'B_3_std', 'B_3_min', 'B_3_max', 'D_42_last', 'D_42_first', 'D_42_mean', 'D_42_std', 'D_42_min', 'D_42_max', 'D_43_last', 'D_43_first', 'D_43_mean', 'D_43_std', 'D_43_min', 'D_43_max', 'D_44_last', 'D_44_first', 'D_44_mean', 'D_44_std', 'D_44_min', 'D_44_max', 'B_4_last', 'B_4_first', 'B_4_mean', 'B_4_std', 'B_4_min', 'B_4_max', 'D_45_last', 'D_45_first', 'D_45_mean', 'D_45_std', 'D_45_min', 'D_45_max', 'B_5_last', 'B_5_first', 'B_5_mean', 'B_5_std', 'B_5_min', 'B_5_max', 'R_2_last', 'R_2_first', 'R_2_mean', 'R_2_std', 'R_2_min', 'R_2_max', 'D_46_last', 'D_46_first', 'D_46_mean', 'D_46_std', 'D_46_min', 'D_46_max', 'D_47_last', 'D_47_first', 'D_47_mean', 'D_47_std', 'D_47_min', 'D_47_max', 'D_48_last', 'D_48_first', 'D_48_mean', 'D_48_std', 'D_48_min', 'D_48_max', 'D_49_last', 'D_49_first', 'D_49_mean', 'D_49_std', 'D_49_min', 'D_49_max', 'B_6_last', 'B_6_first', 'B_6_mean', 'B_6_std', 'B_6_min', 'B_6_max', 'B_7_last', 'B_7_first', 'B_7_mean', 'B_7_std', 'B_7_min', 'B_7_max', 'B_8_last', 'B_8_first', 'B_8_mean', 'B_8_std', 'B_8_min', 'B_8_max', 'D_50_last', 'D_50_first', 'D_50_mean', 'D_50_std', 'D_50_min', 'D_50_max', 'D_51_last', 'D_51_first', 'D_51_mean', 'D_51_std', 'D_51_min', 'D_51_max', 'B_9_last', 'B_9_first', 'B_9_mean', 'B_9_std', 'B_9_min', 'B_9_max', 'R_3_last', 'R_3_first', 'R_3_mean', 'R_3_std', 'R_3_min', 'R_3_max', 'D_52_last', 'D_52_first', 'D_52_mean', 'D_52_std', 'D_52_min', 'D_52_max', 'P_3_last', 'P_3_first', 'P_3_mean', 'P_3_std', 'P_3_min', 'P_3_max', 'B_10_last', 'B_10_first', 'B_10_mean', 'B_10_std', 'B_10_min', 'B_10_max', 'D_53_last', 'D_53_first', 'D_53_mean', 'D_53_std', 'D_53_min', 'D_53_max', 'S_5_last', 'S_5_first', 'S_5_mean', 'S_5_std', 'S_5_min', 'S_5_max', 'B_11_last', 'B_11_first', 'B_11_mean', 'B_11_std', 'B_11_min', 'B_11_max', 'S_6_last', 'S_6_first', 'S_6_mean', 'S_6_std', 'S_6_min', 'S_6_max', 'D_54_last', 'D_54_first', 'D_54_mean', 'D_54_std', 'D_54_min', 'D_54_max', 'R_4_last', 'R_4_first', 'R_4_mean', 'R_4_std', 'R_4_min', 'R_4_max', 'S_7_last', 'S_7_first', 'S_7_mean', 'S_7_std', 'S_7_min', 'S_7_max', 'B_12_last', 'B_12_first', 'B_12_mean', 'B_12_std', 'B_12_min', 'B_12_max', 'S_8_last', 'S_8_first', 'S_8_mean', 'S_8_std', 'S_8_min', 'S_8_max', 'D_55_last', 'D_55_first', 'D_55_mean', 'D_55_std', 'D_55_min', 'D_55_max', 'D_56_last', 'D_56_first', 'D_56_mean', 'D_56_std', 'D_56_min', 'D_56_max', 'B_13_last', 'B_13_first', 'B_13_mean', 'B_13_std', 'B_13_min', 'B_13_max', 'R_5_last', 'R_5_first', 'R_5_mean', 'R_5_std', 'R_5_min', 'R_5_max', 'D_58_last', 'D_58_first', 'D_58_mean', 'D_58_std', 'D_58_min', 'D_58_max', 'S_9_last', 'S_9_first', 'S_9_mean', 'S_9_std', 'S_9_min', 'S_9_max', 'B_14_last', 'B_14_first', 'B_14_mean', 'B_14_std', 'B_14_min', 'B_14_max', 'D_59_last', 'D_59_first', 'D_59_mean', 'D_59_std', 'D_59_min', 'D_59_max', 'D_60_last', 'D_60_first', 'D_60_mean', 'D_60_std', 'D_60_min', 'D_60_max', 'D_61_last', 'D_61_first', 'D_61_mean', 'D_61_std', 'D_61_min', 'D_61_max', 'B_15_last', 'B_15_first', 'B_15_mean', 'B_15_std', 'B_15_min', 'B_15_max', 'S_11_last', 'S_11_first', 'S_11_mean', 'S_11_std', 'S_11_min', 'S_11_max', 'D_62_last', 'D_62_first', 'D_62_mean', 'D_62_std', 'D_62_min', 'D_62_max', 'D_65_last', 'D_65_first', 'D_65_mean', 'D_65_std', 'D_65_min', 'D_65_max', 'B_16_last', 'B_16_first', 'B_16_mean', 'B_16_std', 'B_16_min', 'B_16_max', 'B_17_last', 'B_17_first', 'B_17_mean', 'B_17_std', 'B_17_min', 'B_17_max', 'B_18_last', 'B_18_first', 'B_18_mean', 'B_18_std', 'B_18_min', 'B_18_max', 'B_19_last', 'B_19_first', 'B_19_mean', 'B_19_std', 'B_19_min', 'B_19_max', 'B_20_last', 'B_20_first', 'B_20_mean', 'B_20_std', 'B_20_min', 'B_20_max', 'S_12_last', 'S_12_first', 'S_12_mean', 'S_12_std', 'S_12_min', 'S_12_max', 'R_6_last', 'R_6_first', 'R_6_mean', 'R_6_std', 'R_6_min', 'R_6_max', 'S_13_last', 'S_13_first', 'S_13_mean', 'S_13_std', 'S_13_min', 'S_13_max', 'B_21_last', 'B_21_first', 'B_21_mean', 'B_21_std', 'B_21_min', 'B_21_max', 'D_69_last', 'D_69_first', 'D_69_mean', 'D_69_std', 'D_69_min', 'D_69_max', 'B_22_last', 'B_22_first', 'B_22_mean', 'B_22_std', 'B_22_min', 'B_22_max', 'D_70_last', 'D_70_first', 'D_70_mean', 'D_70_std', 'D_70_min', 'D_70_max', 'D_71_last', 'D_71_first', 'D_71_mean', 'D_71_std', 'D_71_min', 'D_71_max', 'D_72_last', 'D_72_first', 'D_72_mean', 'D_72_std', 'D_72_min', 'D_72_max', 'S_15_last', 'S_15_first', 'S_15_mean', 'S_15_std', 'S_15_min', 'S_15_max', 'B_23_last', 'B_23_first', 'B_23_mean', 'B_23_std', 'B_23_min', 'B_23_max', 'D_73_last', 'D_73_first', 'D_73_mean', 'D_73_std', 'D_73_min', 'D_73_max', 'P_4_last', 'P_4_first', 'P_4_mean', 'P_4_std', 'P_4_min', 'P_4_max', 'D_74_last', 'D_74_first', 'D_74_mean', 'D_74_std', 'D_74_min', 'D_74_max', 'D_75_last', 'D_75_first', 'D_75_mean', 'D_75_std', 'D_75_min', 'D_75_max', 'D_76_last', 'D_76_first', 'D_76_mean', 'D_76_std', 'D_76_min', 'D_76_max', 'B_24_last', 'B_24_first', 'B_24_mean', 'B_24_std', 'B_24_min', 'B_24_max', 'R_7_last', 'R_7_first', 'R_7_mean', 'R_7_std', 'R_7_min', 'R_7_max', 'D_77_last', 'D_77_first', 'D_77_mean', 'D_77_std', 'D_77_min', 'D_77_max', 'B_25_last', 'B_25_first', 'B_25_mean', 'B_25_std', 'B_25_min', 'B_25_max', 'B_26_last', 'B_26_first', 'B_26_mean', 'B_26_std', 'B_26_min', 'B_26_max', 'D_78_last', 'D_78_first', 'D_78_mean', 'D_78_std', 'D_78_min', 'D_78_max', 'D_79_last', 'D_79_first', 'D_79_mean', 'D_79_std', 'D_79_min', 'D_79_max', 'R_8_last', 'R_8_first', 'R_8_mean', 'R_8_std', 'R_8_min', 'R_8_max', 'R_9_last', 'R_9_first', 'R_9_mean', 'R_9_std', 'R_9_min', 'R_9_max', 'S_16_last', 'S_16_first', 'S_16_mean', 'S_16_std', 'S_16_min', 'S_16_max', 'D_80_last', 'D_80_first', 'D_80_mean', 'D_80_std', 'D_80_min', 'D_80_max', 'R_10_last', 'R_10_first', 'R_10_mean', 'R_10_std', 'R_10_min', 'R_10_max', 'R_11_last', 'R_11_first', 'R_11_mean', 'R_11_std', 'R_11_min', 'R_11_max', 'B_27_last', 'B_27_first', 'B_27_mean', 'B_27_std', 'B_27_min', 'B_27_max', 'D_81_last', 'D_81_first', 'D_81_mean', 'D_81_std', 'D_81_min', 'D_81_max', 'D_82_last', 'D_82_first', 'D_82_mean', 'D_82_std', 'D_82_min', 'D_82_max', 'S_17_last', 'S_17_first', 'S_17_mean', 'S_17_std', 'S_17_min', 'S_17_max', 'R_12_last', 'R_12_first', 'R_12_mean', 'R_12_std', 'R_12_min', 'R_12_max', 'B_28_last', 'B_28_first', 'B_28_mean', 'B_28_std', 'B_28_min', 'B_28_max', 'R_13_last', 'R_13_first', 'R_13_mean', 'R_13_std', 'R_13_min', 'R_13_max', 'D_83_last', 'D_83_first', 'D_83_mean', 'D_83_std', 'D_83_min', 'D_83_max', 'R_14_last', 'R_14_first', 'R_14_mean', 'R_14_std', 'R_14_min', 'R_14_max', 'R_15_last', 'R_15_first', 'R_15_mean', 'R_15_std', 'R_15_min', 'R_15_max', 'D_84_last', 'D_84_first', 'D_84_mean', 'D_84_std', 'D_84_min', 'D_84_max', 'R_16_last', 'R_16_first', 'R_16_mean', 'R_16_std', 'R_16_min', 'R_16_max', 'B_29_last', 'B_29_first', 'B_29_mean', 'B_29_std', 'B_29_min', 'B_29_max', 'S_18_last', 'S_18_first', 'S_18_mean', 'S_18_std', 'S_18_min', 'S_18_max', 'D_86_last', 'D_86_first', 'D_86_mean', 'D_86_std', 'D_86_min', 'D_86_max', 'D_87_last', 'D_87_first', 'D_87_mean', 'D_87_std', 'D_87_min', 'D_87_max', 'R_17_last', 'R_17_first', 'R_17_mean', 'R_17_std', 'R_17_min', 'R_17_max', 'R_18_last', 'R_18_first', 'R_18_mean', 'R_18_std', 'R_18_min', 'R_18_max', 'D_88_last', 'D_88_first', 'D_88_mean', 'D_88_std', 'D_88_min', 'D_88_max', 'B_31_last', 'B_31_first', 'B_31_mean', 'B_31_std', 'B_31_min', 'B_31_max', 'S_19_last', 'S_19_first', 'S_19_mean', 'S_19_std', 'S_19_min', 'S_19_max', 'R_19_last', 'R_19_first', 'R_19_mean', 'R_19_std', 'R_19_min', 'R_19_max', 'B_32_last', 'B_32_first', 'B_32_mean', 'B_32_std', 'B_32_min', 'B_32_max', 'S_20_last', 'S_20_first', 'S_20_mean', 'S_20_std', 'S_20_min', 'S_20_max', 'R_20_last', 'R_20_first', 'R_20_mean', 'R_20_std', 'R_20_min', 'R_20_max', 'R_21_last', 'R_21_first', 'R_21_mean', 'R_21_std', 'R_21_min', 'R_21_max', 'B_33_last', 'B_33_first', 'B_33_mean', 'B_33_std', 'B_33_min', 'B_33_max', 'D_89_last', 'D_89_first', 'D_89_mean', 'D_89_std', 'D_89_min', 'D_89_max', 'R_22_last', 'R_22_first', 'R_22_mean', 'R_22_std', 'R_22_min', 'R_22_max', 'R_23_last', 'R_23_first', 'R_23_mean', 'R_23_std', 'R_23_min', 'R_23_max', 'D_91_last', 'D_91_first', 'D_91_mean', 'D_91_std', 'D_91_min', 'D_91_max', 'D_92_last', 'D_92_first', 'D_92_mean', 'D_92_std', 'D_92_min', 'D_92_max', 'D_93_last', 'D_93_first', 'D_93_mean', 'D_93_std', 'D_93_min', 'D_93_max', 'D_94_last', 'D_94_first', 'D_94_mean', 'D_94_std', 'D_94_min', 'D_94_max', 'R_24_last', 'R_24_first', 'R_24_mean', 'R_24_std', 'R_24_min', 'R_24_max', 'R_25_last', 'R_25_first', 'R_25_mean', 'R_25_std', 'R_25_min', 'R_25_max', 'D_96_last', 'D_96_first', 'D_96_mean', 'D_96_std', 'D_96_min', 'D_96_max', 'S_22_last', 'S_22_first', 'S_22_mean', 'S_22_std', 'S_22_min', 'S_22_max', 'S_23_last', 'S_23_first', 'S_23_mean', 'S_23_std', 'S_23_min', 'S_23_max', 'S_24_last', 'S_24_first', 'S_24_mean', 'S_24_std', 'S_24_min', 'S_24_max', 'S_25_last', 'S_25_first', 'S_25_mean', 'S_25_std', 'S_25_min', 'S_25_max', 'S_26_last', 'S_26_first', 'S_26_mean', 'S_26_std', 'S_26_min', 'S_26_max', 'D_102_last', 'D_102_first', 'D_102_mean', 'D_102_std', 'D_102_min', 'D_102_max', 'D_103_last', 'D_103_first', 'D_103_mean', 'D_103_std', 'D_103_min', 'D_103_max', 'D_104_last', 'D_104_first', 'D_104_mean', 'D_104_std', 'D_104_min', 'D_104_max', 'D_105_last', 'D_105_first', 'D_105_mean', 'D_105_std', 'D_105_min', 'D_105_max', 'D_106_last', 'D_106_first', 'D_106_mean', 'D_106_std', 'D_106_min', 'D_106_max', 'D_107_last', 'D_107_first', 'D_107_mean', 'D_107_std', 'D_107_min', 'D_107_max', 'B_36_last', 'B_36_first', 'B_36_mean', 'B_36_std', 'B_36_min', 'B_36_max', 'B_37_last', 'B_37_first', 'B_37_mean', 'B_37_std', 'B_37_min', 'B_37_max', 'R_26_last', 'R_26_first', 'R_26_mean', 'R_26_std', 'R_26_min', 'R_26_max', 'R_27_last', 'R_27_first', 'R_27_mean', 'R_27_std', 'R_27_min', 'R_27_max', 'D_108_last', 'D_108_first', 'D_108_mean', 'D_108_std', 'D_108_min', 'D_108_max', 'D_109_last', 'D_109_first', 'D_109_mean', 'D_109_std', 'D_109_min', 'D_109_max', 'D_110_last', 'D_110_first', 'D_110_mean', 'D_110_std', 'D_110_min', 'D_110_max', 'D_111_last', 'D_111_first', 'D_111_mean', 'D_111_std', 'D_111_min', 'D_111_max', 'B_39_last', 'B_39_first', 'B_39_mean', 'B_39_std', 'B_39_min', 'B_39_max', 'D_112_last', 'D_112_first', 'D_112_mean', 'D_112_std', 'D_112_min', 'D_112_max', 'B_40_last', 'B_40_first', 'B_40_mean', 'B_40_std', 'B_40_min', 'B_40_max', 'S_27_last', 'S_27_first', 'S_27_mean', 'S_27_std', 'S_27_min', 'S_27_max', 'D_113_last', 'D_113_first', 'D_113_mean', 'D_113_std', 'D_113_min', 'D_113_max', 'D_115_last', 'D_115_first', 'D_115_mean', 'D_115_std', 'D_115_min', 'D_115_max', 'D_118_last', 'D_118_first', 'D_118_mean', 'D_118_std', 'D_118_min', 'D_118_max', 'D_119_last', 'D_119_first', 'D_119_mean', 'D_119_std', 'D_119_min', 'D_119_max', 'D_121_last', 'D_121_first', 'D_121_mean', 'D_121_std', 'D_121_min', 'D_121_max', 'D_122_last', 'D_122_first', 'D_122_mean', 'D_122_std', 'D_122_min', 'D_122_max', 'D_123_last', 'D_123_first', 'D_123_mean', 'D_123_std', 'D_123_min', 'D_123_max', 'D_124_last', 'D_124_first', 'D_124_mean', 'D_124_std', 'D_124_min', 'D_124_max', 'D_125_last', 'D_125_first', 'D_125_mean', 'D_125_std', 'D_125_min', 'D_125_max', 'D_127_last', 'D_127_first', 'D_127_mean', 'D_127_std', 'D_127_min', 'D_127_max', 'D_128_last', 'D_128_first', 'D_128_mean', 'D_128_std', 'D_128_min', 'D_128_max', 'D_129_last', 'D_129_first', 'D_129_mean', 'D_129_std', 'D_129_min', 'D_129_max', 'B_41_last', 'B_41_first', 'B_41_mean', 'B_41_std', 'B_41_min', 'B_41_max', 'B_42_last', 'B_42_first', 'B_42_mean', 'B_42_std', 'B_42_min', 'B_42_max', 'D_130_last', 'D_130_first', 'D_130_mean', 'D_130_std', 'D_130_min', 'D_130_max', 'D_131_last', 'D_131_first', 'D_131_mean', 'D_131_std', 'D_131_min', 'D_131_max', 'D_132_last', 'D_132_first', 'D_132_mean', 'D_132_std', 'D_132_min', 'D_132_max', 'D_133_last', 'D_133_first', 'D_133_mean', 'D_133_std', 'D_133_min', 'D_133_max', 'R_28_last', 'R_28_first', 'R_28_mean', 'R_28_std', 'R_28_min', 'R_28_max', 'D_134_last', 'D_134_first', 'D_134_mean', 'D_134_std', 'D_134_min', 'D_134_max', 'D_135_last', 'D_135_first', 'D_135_mean', 'D_135_std', 'D_135_min', 'D_135_max', 'D_136_last', 'D_136_first', 'D_136_mean', 'D_136_std', 'D_136_min', 'D_136_max', 'D_137_last', 'D_137_first', 'D_137_mean', 'D_137_std', 'D_137_min', 'D_137_max', 'D_138_last', 'D_138_first', 'D_138_mean', 'D_138_std', 'D_138_min', 'D_138_max', 'D_139_last', 'D_139_first', 'D_139_mean', 'D_139_std', 'D_139_min', 'D_139_max', 'D_140_last', 'D_140_first', 'D_140_mean', 'D_140_std', 'D_140_min', 'D_140_max', 'D_141_last', 'D_141_first', 'D_141_mean', 'D_141_std', 'D_141_min', 'D_141_max', 'D_142_last', 'D_142_first', 'D_142_mean', 'D_142_std', 'D_142_min', 'D_142_max', 'D_143_last', 'D_143_first', 'D_143_mean', 'D_143_std', 'D_143_min', 'D_143_max', 'D_144_last', 'D_144_first', 'D_144_mean', 'D_144_std', 'D_144_min', 'D_144_max', 'D_145_last', 'D_145_first', 'D_145_mean', 'D_145_std', 'D_145_min', 'D_145_max', 'P_2_sub', 'P_2_frac', 'D_39_sub', 'D_39_frac', 'B_1_sub', 'B_1_frac', 'B_2_sub', 'B_2_frac', 'R_1_sub', 'R_1_frac', 'S_3_sub', 'S_3_frac', 'D_41_sub', 'D_41_frac', 'B_3_sub', 'B_3_frac', 'D_42_sub', 'D_42_frac', 'D_43_sub', 'D_43_frac', 'D_44_sub', 'D_44_frac', 'B_4_sub', 'B_4_frac', 'D_45_sub', 'D_45_frac', 'B_5_sub', 'B_5_frac', 'R_2_sub', 'R_2_frac', 'D_46_sub', 'D_46_frac', 'D_47_sub', 'D_47_frac', 'D_48_sub', 'D_48_frac', 'D_49_sub', 'D_49_frac', 'B_6_sub', 'B_6_frac', 'B_7_sub', 'B_7_frac', 'B_8_sub', 'B_8_frac', 'D_50_sub', 'D_50_frac', 'D_51_sub', 'D_51_frac', 'B_9_sub', 'B_9_frac', 'R_3_sub', 'R_3_frac', 'D_52_sub', 'D_52_frac', 'P_3_sub', 'P_3_frac', 'B_10_sub', 'B_10_frac', 'D_53_sub', 'D_53_frac', 'S_5_sub', 'S_5_frac', 'B_11_sub', 'B_11_frac', 'S_6_sub', 'S_6_frac', 'D_54_sub', 'D_54_frac', 'R_4_sub', 'R_4_frac', 'S_7_sub', 'S_7_frac', 'B_12_sub', 'B_12_frac', 'S_8_sub', 'S_8_frac', 'D_55_sub', 'D_55_frac', 'D_56_sub', 'D_56_frac', 'B_13_sub', 'B_13_frac', 'R_5_sub', 'R_5_frac', 'D_58_sub', 'D_58_frac', 'S_9_sub', 'S_9_frac', 'B_14_sub', 'B_14_frac', 'D_59_sub', 'D_59_frac', 'D_60_sub', 'D_60_frac', 'D_61_sub', 'D_61_frac', 'B_15_sub', 'B_15_frac', 'S_11_sub', 'S_11_frac', 'D_62_sub', 'D_62_frac', 'D_65_sub', 'D_65_frac', 'B_16_sub', 'B_16_frac', 'B_17_sub', 'B_17_frac', 'B_18_sub', 'B_18_frac', 'B_19_sub', 'B_19_frac', 'B_20_sub', 'B_20_frac', 'S_12_sub', 'S_12_frac', 'R_6_sub', 'R_6_frac', 'S_13_sub', 'S_13_frac', 'B_21_sub', 'B_21_frac', 'D_69_sub', 'D_69_frac', 'B_22_sub', 'B_22_frac', 'D_70_sub', 'D_70_frac', 'D_71_sub', 'D_71_frac', 'D_72_sub', 'D_72_frac', 'S_15_sub', 'S_15_frac', 'B_23_sub', 'B_23_frac', 'D_73_sub', 'D_73_frac', 'P_4_sub', 'P_4_frac', 'D_74_sub', 'D_74_frac', 'D_75_sub', 'D_75_frac', 'D_76_sub', 'D_76_frac', 'B_24_sub', 'B_24_frac', 'R_7_sub', 'R_7_frac', 'D_77_sub', 'D_77_frac', 'B_25_sub', 'B_25_frac', 'B_26_sub', 'B_26_frac', 'D_78_sub', 'D_78_frac', 'D_79_sub', 'D_79_frac', 'R_8_sub', 'R_8_frac', 'R_9_sub', 'R_9_frac', 'S_16_sub', 'S_16_frac', 'D_80_sub', 'D_80_frac', 'R_10_sub', 'R_10_frac', 'R_11_sub', 'R_11_frac', 'B_27_sub', 'B_27_frac', 'D_81_sub', 'D_81_frac', 'D_82_sub', 'D_82_frac', 'S_17_sub', 'S_17_frac', 'R_12_sub', 'R_12_frac', 'B_28_sub', 'B_28_frac', 'R_13_sub', 'R_13_frac', 'D_83_sub', 'D_83_frac', 'R_14_sub', 'R_14_frac', 'R_15_sub', 'R_15_frac', 'D_84_sub', 'D_84_frac', 'R_16_sub', 'R_16_frac', 'B_29_sub', 'B_29_frac', 'S_18_sub', 'S_18_frac', 'D_86_sub', 'D_86_frac', 'D_87_sub', 'D_87_frac', 'R_17_sub', 'R_17_frac', 'R_18_sub', 'R_18_frac', 'D_88_sub', 'D_88_frac', 'B_31_sub', 'B_31_frac', 'S_19_sub', 'S_19_frac', 'R_19_sub', 'R_19_frac', 'B_32_sub', 'B_32_frac', 'S_20_sub', 'S_20_frac', 'R_20_sub', 'R_20_frac', 'R_21_sub', 'R_21_frac', 'B_33_sub', 'B_33_frac', 'D_89_sub', 'D_89_frac', 'R_22_sub', 'R_22_frac', 'R_23_sub', 'R_23_frac', 'D_91_sub', 'D_91_frac', 'D_92_sub', 'D_92_frac', 'D_93_sub', 'D_93_frac', 'D_94_sub', 'D_94_frac', 'R_24_sub', 'R_24_frac', 'R_25_sub', 'R_25_frac', 'D_96_sub', 'D_96_frac', 'S_22_sub', 'S_22_frac', 'S_23_sub', 'S_23_frac', 'S_24_sub', 'S_24_frac', 'S_25_sub', 'S_25_frac', 'S_26_sub', 'S_26_frac', 'D_102_sub', 'D_102_frac', 'D_103_sub', 'D_103_frac', 'D_104_sub', 'D_104_frac', 'D_105_sub', 'D_105_frac', 'D_106_sub', 'D_106_frac', 'D_107_sub', 'D_107_frac', 'B_36_sub', 'B_36_frac', 'B_37_sub', 'B_37_frac', 'R_26_sub', 'R_26_frac', 'R_27_sub', 'R_27_frac', 'D_108_sub', 'D_108_frac', 'D_109_sub', 'D_109_frac', 'D_110_sub', 'D_110_frac', 'D_111_sub', 'D_111_frac', 'B_39_sub', 'B_39_frac', 'D_112_sub', 'D_112_frac', 'B_40_sub', 'B_40_frac', 'S_27_sub', 'S_27_frac', 'D_113_sub', 'D_113_frac', 'D_115_sub', 'D_115_frac', 'D_118_sub', 'D_118_frac', 'D_119_sub', 'D_119_frac', 'D_121_sub', 'D_121_frac', 'D_122_sub', 'D_122_frac', 'D_123_sub', 'D_123_frac', 'D_124_sub', 'D_124_frac', 'D_125_sub', 'D_125_frac', 'D_127_sub', 'D_127_frac', 'D_128_sub', 'D_128_frac', 'D_129_sub', 'D_129_frac', 'B_41_sub', 'B_41_frac', 'B_42_sub', 'B_42_frac', 'D_130_sub', 'D_130_frac', 'D_131_sub', 'D_131_frac', 'D_132_sub', 'D_132_frac', 'D_133_sub', 'D_133_frac', 'R_28_sub', 'R_28_frac', 'D_134_sub', 'D_134_frac', 'D_135_sub', 'D_135_frac', 'D_136_sub', 'D_136_frac', 'D_137_sub', 'D_137_frac', 'D_138_sub', 'D_138_frac', 'D_139_sub', 'D_139_frac', 'D_140_sub', 'D_140_frac', 'D_141_sub', 'D_141_frac', 'D_142_sub', 'D_142_frac', 'D_143_sub', 'D_143_frac', 'D_144_sub', 'D_144_frac', 'D_145_sub', 'D_145_frac']

In [6]:
# change dtypes
X_train[cat_cols] = X_train[cat_cols].astype("object")
X_test[cat_cols] = X_test[cat_cols].astype("object")

X_train[num_cols] = X_train[num_cols].astype("float")
X_test[num_cols] = X_test[num_cols].astype("float")

In [7]:
# free up memory
gc.collect()

0

# Define Pipeline

In [ ]:
def custom_pipeline(**params):
    cat_cols_transformations = make_pipeline(
        ColumnDropperTransformer('customer_ID'),
        SimpleImputer(strategy='most_frequent'),
        OneHotEncoder(handle_unknown='ignore')
    )

    num_cols_transformations = make_pipeline(
        SimpleImputer(strategy='median'),
        StandardScaler()
    )

    cols_trans = make_column_transformer(
        ( cat_cols_transformations, cat_cols),
        (num_cols_transformations, num_cols),
        remainder='passthrough'
        )

    pipeline = make_pipeline(
        cols_trans,
        lgb.LGBMClassifier(objective='binary', is_unbalance=True, n_jobs=10)
        )
    
    return pipeline

# Hyper-parameter Tuning

In [ ]:
# Define hyper-parameters & objective function
# define objective function
def objective(trial: optuna.trial.Trial) -> float:
    '''Takes in hyperparameters as input, and trains a model that computes the average validation error based on KFold cross validation'''

    # define hyperparameters
    params = {
        "num_leaves": trial.suggest_int("num_leaves", 2, 256),
        "colsample_bytree": trial.suggest_float("colsample_bytree", 0.2, 1.0),
        "subsample": trial.suggest_float("subsample", 0.2, 1.0),
        "min_child_samples": trial.suggest_int("min_child_samples", 3, 100),   
    }

    k_fold = KFold(n_splits=5)
    scores = []
    for train_index, val_index in k_fold.split(X_train):
        # split data
        X_train_, X_val = X_train.iloc[train_index], X_train.iloc[val_index]
        y_train_, y_val = y_train.iloc[train_index], y_train.iloc[val_index]

        # create model
        pipeline = custom_pipeline(**params)

        # fit model
        pipeline.fit(X_train_, y_train_)

        # compute validation error
        y_pred = pipeline.predict_proba(X_val)[:,1]
        brier_score = brier_score_loss(y_val, y_pred)

        scores.append(brier_score)
    
    return np.mean(scores)

In [ ]:
warnings.filterwarnings('ignore')

# optuna study
study = optuna.create_study(direction='minimize', study_name='calibrated_lgbm')
study.optimize(objective, n_trials=5)

In [ ]:
# print best parameters
best_params = study.best_trial.params
print(f'{best_params=}')

# Calibrate Probabilities

In [ ]:
pipeline = custom_pipeline(**best_params)
pipeline.fit(X_train, y_train)

calibrated_model = CalibratedClassifierCV(pipeline, cv='prefit', method='isotonic', n_jobs=10)
calibrated_model.fit(X_val_calibration, y_val_calibration)

In [ ]:
# save model using joblib
joblib.dump(calibrated_model, 'models/calibrated_lightgbm.pkl')

In [9]:
# load model using joblib
calibrated_model = joblib.load('models/calibrated_lightgbm.pkl')

In [10]:
# compute test error on test set
calibrated_predictions = calibrated_model.predict_proba(X_test)[:,1]

display(y_test.head())
display(pd.DataFrame(calibrated_predictions).head())

test_brier_score = brier_score_loss(y_test, calibrated_predictions)
print(f'{test_brier_score=:.4f}')

   target
0       0
1       1
2       0
3       0
4       0

          0
0  0.022497
1  0.564356
2  0.070000
3  0.000000
4  0.000674

test_brier_score=0.0700

In [11]:
# Save predictions to csv
df_predictions = pd.DataFrame(calibrated_predictions, columns=["predictions"])
df_predictions.to_csv("predictions/predictions_calibrated_lightgbm_probabilities.csv", index=False)

# Plot

In [ ]:
# load uncalibrated predictions
uncalibrated_predictions = pd.read_csv("predictions/predictions_uncalibrated_lightgbm_probabilities.csv")

In [ ]:
# calibration plot
uncalib_prob_true, uncalib_prob_pred = calibration_curve(y_true=y_test, y_prob=uncalibrated_predictions, n_bins=10)
calib_prob_true, calib_prob_pred = calibration_curve(y_true=y_test, y_prob=calibrated_predictions, n_bins=10)

_, ax = plt.subplots(1,1)
CalibrationDisplay(uncalib_prob_true, uncalib_prob_pred, uncalibrated_predictions, estimator_name='Uncalibrated').plot(ax=ax)
CalibrationDisplay(calib_prob_true, calib_prob_pred, calibrated_predictions, estimator_name='Calibrated').plot(ax=ax)
plt.title("Calibration plot for LightGBM model")

# save plot
plt.tight_layout()